<template>
  <div style="background:#ECECEC; padding:30px;">
    <a-modal
      :footer="null"
      placement="right"
      :closable="false"
      :visible="visibleTampon"
      :width="800"
      :bodyStyle="{
        'height': '600px'
      }"
    >
      <InsertNewTamponTest @close-modal="closeTamponModal" @open-new-tampon-modal="showTamponModel"/>
    </a-modal>
    <a-modal
      :footer="null"
      placement="right"
      :closable="false"
      :visible="visibleBlood"
      :width="800"
      :bodyStyle="{
        'height': '600px'
      }"
    >
      <InsertNewBloodTest @close-modal="closeBloodModal" @open-new-tampon-modal="showBloodModel" />
    </a-modal>
    <div
      style="height: calc(100vh - 124px); display: flex; align-items: center; justify-content: center"
    >
      <div>
        <a-card @click="showTamponModel" hoverable style="width: 350px; margin-right: 12px">
          <h1>Inserisci tampone</h1>
          <template slot="actions" class="ant-card-actions">
            <a-icon type="plus" />
          </template>
          <a-card-meta style="height: 209px"></a-card-meta>
        </a-card>
      </div>
      <div>
        <a-card @click="showBloodTestModel" hoverable style="width: 350px; margin-left: 12px">
          <h1>Inserisci siero</h1>
          <template slot="actions" class="ant-card-actions">
            <a-icon type="plus" />
          </template>
          <a-card-meta style="height: 209px"></a-card-meta>
        </a-card>
      </div>
    </div>
  </div>
  <!-- <a-col span="5" style="border-top: solid #1890ff; background: white; width: calc(100vh - 577px); min-width: 200px">
        <router-link to="/new">
            
          <a-card title="Nuovo Tampone" :bordered="false" style="width: calc(100vh - 577px);  min-width: 200px">
            
            <img slot="cover" alt="example" src="../assets/Q-tip.jpg" />
            
          </a-card>
        </router-link>
      </a-col>
      <a-col span="1"></a-col>
      <a-col span="5" style="border-top: solid #1890ff; background: white; width: calc(100vh - 577px)">
        <router-link to="/new">
            
          <a-card title="Nuovo Tampone" :bordered="false" style="width: calc(100vh - 577px);">
            
            <img slot="cover" alt="example" src="../assets/Q-tip.jpg" />
            
          </a-card>
        </router-link>
  </a-col>-->
  <!-- <a-col span="5" style="border-top: solid #1890ff; background: white">
        <router-link to="/new">
          <a-card title="Nuovo Tampone" :bordered="false" style="width: calc(100vh - 649px); margin-left: 24px">
            <img slot="cover" alt="example" src="../assets/Q-tip.jpg" />
          </a-card>
        </router-link>
  </a-col>-->
  <!-- <a-col span="1"></a-col> -->
</template>

<script>
import InsertNewTamponTest from "../components/InsertNewTamponTest";
import InsertNewBloodTest from "../components/InsertNewBloodTest";
export default {
  components: {
    InsertNewTamponTest,
    InsertNewBloodTest
  },
  name: "Home",
  data() {
    return {
      visibleTampon: false,
      visibleBlood: false
    };
  },
  methods: {
    closeTamponModal() {
      this.visibleTampon = false;
    },
    closeBloodModal() {
      this.visibleBlood = false;
    },
    showTamponModel() {
      this.visibleTampon = true;
    },
    showBloodTestModel() {
      this.visibleBlood = true;
    },
  }
};
</script>

<style>
</style>