<template>
  <div id="InsertNew">
    <a-row style="margin-bottom: 23px" v-if="submitResult==false">
      <a-col>
        <a-steps v-model="current">
          <a-step disabled :status="formSteps.step1.status" :title="formSteps.step1.title" />
          <a-step disabled :status="formSteps.step2.status" :title="formSteps.step2.title" />
          <a-step disabled :status="formSteps.step3.status" :title="formSteps.step3.title" />
          <a-step disabled :status="formSteps.step4.status" :title="formSteps.step4.title" />
        </a-steps>
      </a-col>
    </a-row>
    <a-row v-if="submitResult==false" style="height: 470px">
      <a-col v-if="current==0">
        <a-form-model layout="vertical" :model="form1" :rules="rules1" ref="ruleForm1">
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item label="Nome" prop="name">
                <a-input placeholder="Inserisci il nome" v-model.lazy="form1.name" @blur="test" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item label="Cognome" prop="surname" has-feedback validate-status>
                <a-input placeholder="Inserisci il cognome" v-model="form1.surname" />
              </a-form-model-item>
            </a-col>
            <a-col span="8"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Data di nascita"
                prop="dateOfBirth"
                has-feedback
                validate-status
              >
                <a-date-picker style="width: 100%" v-model="form1.dateOfBirth" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item label="Sesso" prop="sesso" has-feedback validate-status>
                <a-input placeholder="M" v-model="form1.sesso" style="width: 100px" />
              </a-form-model-item>
              <!-- <a-form-model-item prop="sesso" validate-status label="Sesso">
                <a-radio-group v-model="form1.sesso" @change="onChange">
                  <a-radio :style="radioStyle" :value="'F'">F</a-radio>
                  <a-radio :style="radioStyle" :value="'M'">M</a-radio>
                  <a-radio :style="radioStyle" :value="3">Altro</a-radio>
                  <a-input v-if="form1.sesso_altro === 3" :style="{ width: '113px' }" size="small" />
                </a-radio-group>
              </a-form-model-item>-->
            </a-col>
            <a-col span="8"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Codice fiscale"
                prop="fiscalCode"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci il codice fiscale" v-model="form1.fiscalCode" />
              </a-form-model-item>
            </a-col>
            <a-col span="8"></a-col>
            <a-col span="8"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Indirizzo di domicilio"
                prop="domicileAddress"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci il indirizzo" v-model="form1.domicileAddress" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item
                label="Comune di domicilio"
                prop="commonAddress"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci il comune" v-model="form1.commonAddress" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item
                label="Provincia di domicilio"
                prop="provinceAddress"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci il provincia" v-model="form1.provinceAddress" />
              </a-form-model-item>
            </a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item label="Telefono" prop="phone" has-feedback validate-status>
                <a-input placeholder="Telefono del paziente" v-model="form1.phone" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item label="EMail" prop="email" has-feedback validate-status>
                <a-input placeholder="EMail del paziente" v-model="form1.email" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item
                label="Telefono cell"
                prop="cellphone"
                has-feedback
                validate-status
              >
                <a-input placeholder="Cellulare del paziente" v-model="form1.cellphone" />
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>
      </a-col>
      <a-col v-if="current==1" >
        <a-row style="height: 60px"></a-row>
        <a-form-model layout="vertical" :model="form2" :rules="rules2" ref="ruleForm2">
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="12">
              <a-form-model-item
                label="Ragione sociale azienda di lavoro / nominativo privato"
                prop="businessName"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci la ragione sociale" v-model="form2.businessName" />
              </a-form-model-item>
            </a-col>
            <a-col span="12"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="12">
              <a-form-model-item
                label="Categoria professione"
                prop="professionalCategory"
                has-feedback
                validate-status
              >
                <a-select
                  v-model="form2.professionalCategory"
                  placeholder="Seleziona la categoria della professione"
                >
                  <a-select-option
                    value="Scuole istruzione / educazione / sociale"
                  >Scuole istruzione / educazione / sociale</a-select-option>
                  <a-select-option value="Attività sanitarie">Attività sanitarie</a-select-option>
                  <a-select-option value="Forze dell'ordine">Forze dell'ordine</a-select-option>
                  <a-select-option value="Religiose">Religiose</a-select-option>
                  <a-select-option value="Artigiano">Artigiano</a-select-option>
                  <a-select-option value="Operaio">Operaio</a-select-option>
                  <a-select-option value="Attività amministrativa">Attività amministrativa</a-select-option>
                  <a-select-option value="Libero professionista">Libero professionista</a-select-option>
                  <a-select-option
                    value="Centro accoglienza rifugiati / carceri"
                  >Centro accoglienza rifugiati / carceri</a-select-option>
                  <a-select-option
                    value="Pazienti in struttura sanitaria / protetta"
                  >Pazienti in struttura sanitaria / protetta</a-select-option>
                  <a-select-option
                    value="Ristorazione / strutture ricettive turistiche"
                  >Ristorazione / strutture ricettive turistiche</a-select-option>
                  <a-select-option value="Terzo settore">Terzo settore</a-select-option>
                  <a-select-option value="Attività ludico ricreative">Attività ludico ricreative</a-select-option>
                  <a-select-option value="Privato">Privato</a-select-option>
                  <a-select-option value="Altro">Altro</a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>
            <a-col span="12"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Indirizzo azienda di lavoro"
                prop="address"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci l'indirizzo" v-model="form2.address" />
              </a-form-model-item>
            </a-col>

            <a-col span="8">
              <a-form-model-item
                label="Reparto sede/azienda di lavoro"
                prop="department"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci il reparto" v-model="form2.department" />
              </a-form-model-item>
            </a-col>
            <a-col span="8"></a-col>
          </a-row>
          
        </a-form-model>
      </a-col>
      <a-col v-if="current==2" >
                <a-row style="height: 60px"></a-row>
        <a-form-model layout="vertical" :model="form3" :rules="rules3" ref="ruleForm3">
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="10">
              <a-form-model-item
                label="Motivo del prelievo"
                prop="reasonForWithdrawal"
                has-feedback
                validate-status
              >
                <a-select
                  v-model="form3.reasonForWithdrawal"
                  placeholder="Inserisci il motivo del prelievo"
                >
                  <a-select-option value="Screening periodico">Screening periodico</a-select-option>
                  <a-select-option value="Screening nuovi inserimento">Screening nuovi inserimento</a-select-option>
                  <a-select-option value="Screening ISTAT">Screening ISTAT</a-select-option>
                  <a-select-option value="Sintomatici">Sintomatici</a-select-option>
                  <a-select-option value="Privati">Privati</a-select-option>
                  <a-select-option value="Rientri/partenze per estero">Rientri/partenze per estero</a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>
            <a-col span="7"></a-col>
            <a-col span="7"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Denominazione Laboratorio"
                prop="labName"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci la denominazione" v-model="form3.labName" />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item
                label="Indirizzo Laboratorio"
                prop="labAddress"
                has-feedback
                validate-status
              >
                <a-input placeholder="Inserisci l'indirizzo" v-model="form3.labAddress" />
              </a-form-model-item>
            </a-col>
            <a-col span="8"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="8">
              <a-form-model-item
                label="Denominazione Punto Prelievo"
                prop="designationOfWithdrawalPoint"
                has-feedback
                validate-status
              >
                <a-input
                  placeholder="Inserisci la denominazione"
                  v-model="form3.designationOfWithdrawalPoint"
                />
              </a-form-model-item>
            </a-col>
            <a-col span="8">
              <a-form-model-item
                label="Indirizzo Punto Prelievo"
                prop="designationOfWithdrawalPointAddress"
                has-feedback
                validate-status
              >
                <a-input
                  placeholder="Inserisci l'indirizzo"
                  v-model="form3.designationOfWithdrawalPointAddress"
                />
              </a-form-model-item>
            </a-col>
            <a-col span="8"></a-col>
          </a-row>
          <a-row>
            <a-col span="24">
              <a-form-model-item label="Note" prop="notes" has-feedback validate-status>
                <a-input placeholder="Inserisci note" v-model="form3.notes" />
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>
      </a-col>
      <a-col v-if="current==3">
        <a-row style="height: 60px"></a-row>
        <a-form-model layout="vertical" :model="form4" :rules="rules4" ref="ruleForm4">
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="9">
              <a-form-model-item
                label="Data di prelievo test virus SARS-CoV2"
                prop="dateOfWithdrawal"
                has-feedback
                validate-status
              >
                <a-date-picker style="width: 100%" v-model="form4.dateOfWithdrawal" />
              </a-form-model-item>
            </a-col>
            <a-col span="9">
              <a-form-model-item
                label="Data di validazione test virus SARS-CoV2"
                prop="dateOfValidation"
                has-feedback
                validate-status
              >
                <a-date-picker style="width: 100%" v-model="form4.dateOfValidation" />
              </a-form-model-item>
            </a-col>
            <a-col span="6"></a-col>
          </a-row>
          <a-row type="flex" justify="space-between" :gutter="24">
            <a-col span="9">
              <a-form-model-item
                label="Metodo test virus SARS-CoV2"
                prop="testMethod"
                has-feedback
                validate-status
              >
                <a-input
                  placeholder="Inserisci la categoria della professione"
                  v-model="form4.testMethod"
                />
              </a-form-model-item>
            </a-col>
            <a-col span="15">
              <a-form-model-item
                label="Risultato test virus SARS-CoV2"
                prop="testResult"
                has-feedback
                validate-status
              >
                <a-radio-group v-model="form4.testResult" @change="onChange">
                  <a-radio :style="radioStyle" :value="'Negativo'">Negativo</a-radio>
                  <a-radio :style="radioStyle" :value="'Positivo'">Positivo</a-radio>
                  <a-radio :style="radioStyle" :value="3">Altro...</a-radio>
                  <a-input v-if="form4.testResult === 3" :style="{ width: '180px' }" v-model="otherTestResult"/>
                </a-radio-group>
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>
      </a-col>
    </a-row>
    <a-row type="flex" justify="space-between" align="middle" v-if="submitResult==false">
      <a-col>
        <a-button ghost @click="goBack" type="primary" v-if="current!=0">
          <a-icon type="left" />
          {{goBackButtonName}}
        </a-button>
      </a-col>
      <a-col>
        <a-button ghost @click="warningDiscardForm" type="primary">Cancella</a-button>
        <a-button
          @click="submitCurrentData"
          type="primary"
          v-if="current!=3"
          style="margin-left: 12px"
        >
          {{goForwardButtonName}}
          <a-icon type="right" />
        </a-button>
        <a-button
          @click="submitCurrentData"
          type="primary"
          v-if="current==3"
          style="margin-left: 12px"
        >Salva</a-button>
      </a-col>
    </a-row>
    <a-result
      style="margin-top: 80px"
      v-if="submitResult==true"
      status="success"
      title="Hai caricato con successo un nuovo tampone!"
      sub-title="Hai generato un record nel database per verificare che sia corretto Scarica il PDF"
    >
      <template #extra>
        <div style="display: flex; align-items: center; justify-content: center">
          <a-button key="console" type="primary" @click="returnHome">Vai alla pagina iniziale</a-button>
          <a-button
            style="margin-left: 24px"
            ghost
            key="console"
            type="primary"
            @click="compileNewTamponForm"
          >Carica un nuovo Tampone</a-button>
        </div>
      </template>
    </a-result>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      submitResult: false,
      form1: {
        name: "",
        surname: "",
        fiscalCode: "",
        dateOfBirth: "",
        sesso: "",
        domicileAddress: "",
        commonAddress: "",
        provinceAddress: "",
        phone: "",
        cellphone: "",
        email: ""
      },
      form2: {
        businessName: "",
        address: "",
        department: "",
        professionalCategory: ""
      },
      form3: {
        reasonForWithdrawal: "",
        labName: "",
        labAddress: "",
        designationOfWithdrawalPoint: "",
        designationOfWithdrawalPointAddress: "",
        notes: ""
      },
      form4: {
        dateOfWithdrawal: "",
        dateOfValidation: "",
        testMethod: "",
        testResult: ""
      },
      rules1: {
        name: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        surname: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        fiscalCode: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        dateOfBirth: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        sesso: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        domicileAddress: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        commonAddress: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        provinceAddress: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        phone: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ]
      },
      rules2: {
        businessName: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        /*address: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ]*/
      },
      rules3: {
        reasonForWithdrawal: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        /*labName: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ]
         labAddress: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        designationOfWithdrawalPoint: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        designationOfWithdrawalPointAddress: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        notes: [
          {
            required: true,
            message: "note?"
          }
        ] */
      },
      rules4: {
        dateOfWithdrawal: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        dateOfValidation: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        testMethod: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ],
        testResult: [
          {
            required: true,
            message: "Campo obbligatorio!"
          }
        ]
      },
      formSteps: {
        step1: {
          status: "process",
          title: "Anagrafica"
        },
        step2: {
          status: "wait",
          title: "Lavoro"
        },
        step3: {
          status: "wait",
          title: "Laboratorio"
        },
        step4: {
          status: "wait",
          title: "Analisi"
        }
      },
      goBackButtonName: "Anagrafica",
      goForwardButtonName: "Lavoro",
      current: 0,
      labelCol: {
        xs: { span: 4 },
        sm: { span: 18 }
      },
      wrapperCol: {
        xs: { span: 4 },
        sm: { span: 18 }
      },
      labelColFormJob: {
        xs: { span: 4 },
        sm: { span: 11 }
      },
      wrapperColFormJob: {
        xs: { span: 4 },
        sm: { span: 18 }
      },
      value: 1,
      radioStyle: {
        height: "30px",
        lineHeight: "30px"
      },
      visibleDiscardModal: false,
    };
  },

  methods: {
    handleOkOfModalCancelation(){
      location.reload();
    },
    test(e) {
      console.log(e.target.validate());
    },
    submitForm1() {
      this.$refs.ruleForm1.validate(valid => {
        if (valid) {
          this.submitCurrentData();
        } else {
          return false;
        }
      });
    },
    submitForm2() {
      this.$refs.ruleForm2.validate(valid => {
        if (valid) {
          this.submitCurrentData();
        } else {
          return false;
        }
      });
    },
    submitForm3() {
      this.$refs.ruleForm3.validate(valid => {
        if (valid) {
          this.submitCurrentData();
        } else {
          return false;
        }
      });
    },
    submitForm4() {
      this.$refs.ruleForm4.validate(valid => {
        if (valid) {
          this.submitCurrentData();
        } else {
          return false;
        }
      });
    },
    submitCurrentData() {
      if (this.current < 3) {
        console.log(this.form1);
        console.log("step" + (this.current + 1));
        this.formSteps["step" + (this.current + 1)].status = "finish";
        this.formSteps["step" + (this.current + 2)].status = "process";
        this.goBackButtonName = this.formSteps[
          "step" + (this.current + 1)
        ].title;
        if (this.current < 2) {
          this.goForwardButtonName = this.formSteps[
            "step" + (this.current + 3)
          ].title;
        }

        this.current++;
      } else {
        //this.createRequest();
        this.submitResult = true;
        this.current == 0;
      }
    },
    goBack() {
      if (this.current != 0) {
        this.formSteps["step" + (this.current + 1)].status = "wait";
        this.formSteps["step" + this.current].status = "process";
        if (this.current != 1) {
          this.goBackButtonName = this.formSteps[
            "step" + (this.current-1)].title
        }
        this.goForwardButtonName = this.formSteps[
          "step" + (this.current + 1)
        ].title;
        this.current--;
      } else {
        this.$emit("close-modal");
      }
    },
    discardForm() {
      this.visibleDiscardModal=true
    },
    async createRequest() {
      console.log("TEST request started");
      let note = await axios.post("http://localhost:3000/insertNewTamponTest", {
        ...this.form1,
        ...this.form2,
        ...this.form3,
        ...this.form4
      }).data;
      console.log("TEST request ended");
      setTimeout(() => console.log(note), 5000);
      this.resetFormData();      
    },
    warningDiscardForm() {
      this.$confirm({
        title: 'Cancellazione Dati',
        width: 550,
        okText: 'Conferma',
        cancelText: 'Cancella',
        content: () => <div style="color:grey;">Procedendo con questa azione i dati compilati fino a questo momento andrebbero persi definitivamente</div>,
        onOk() {
          location.reload();
        },
      });
    },
    returnHome(){
      location.reload();
    },
    resetFormData(){
      this.form1 = {
        name: "",
        surname: "",
        fiscalCode: "",
        dateOfBirth: "",
        sesso: "",
        domicileAddress: "",
        commonAddress: "",
        provinceAddress: "",
        phone: "",
        cellphone: "",
        email: ""
      }
      this.form2 =  {
        businessName: "",
        address: "",
        department: "",
        professionalCategory: ""
      }
      this.form3= {
        reasonForWithdrawal: "",
        labName: "",
        labAddress: "",
        designationOfWithdrawalPoint: "",
        designationOfWithdrawalPointAddress: "",
        notes: ""
      }
      this.form4= {
        dateOfWithdrawal: "",
        dateOfValidation: "",
        testMethod: "",
        testResult: ""
      }
    },
    compileNewTamponForm(){
      this.submitResult=false
      this.current=0
    }
  }
};
</script>

<style>
</style>