<template>
  <div id="app">
    <div id="components-layout-demo-basic">
      <a-layout>
        <a-layout-header>
          <a-row  type="flex" justify="space-between">
            <a-col><h1 style="color: white; font-family: Averia Sans Libre;">Sentinel</h1></a-col>
            <a-col></a-col>
          </a-row>
        </a-layout-header>
        <a-layout-content>
          <router-view></router-view>
        </a-layout-content>
        <!-- <a-layout-footer>Footer</a-layout-footer> -->
      </a-layout>
    </div>
  </div>
</template>

<script>

export default {
  name: "App",
  components: {
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
#components-layout-demo-basic {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-footer {
  height: 12px;
  background: #096dd9;
  color: white;
}
#components-layout-demo-basic .ant-layout-header {
  background: #096dd9;
  color: white;
}

#components-layout-demo-basic .ant-layout-content {
    padding: 0px;
    height: calc(100vh - 64px);
    background: #ECECEC;
}
</style>
